@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Rubik", sans-serif;
}

.logo img{
    width: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    height: 10vh;
}

nav .logo{
    display: flex;
    font-size: 2rem;
    align-items: center;
}

nav .nav-items{
    display: flex;
    list-style-type:none ;
}
    
nav .nav-items .nav-item{
    padding: 0 1rem;
}

nav .nav-link{
    text-decoration: none;
    color: #4e547e;
    font-size: 1.4rem;
}

nav .nav-link:hover{
    color: #6e0aef;
}

.hero{
    background-color: #f8f7fc;
}

.hero-image img{
    width: 420px;
}

.hero-section{
    max-width: 1366px;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
}

.hero-section .content{
    display: flex;
    flex-direction: column;
}

.hero-section h4{
    color: #6e0aef;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.hero-section h1{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.hero-section p{
    color:rgb(29,29,29);
    font-size: 1.4rem;
}

.hero-section p span{
    color: #6e0aef;
}

.btn{
    width: 10rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: #6e0aef;
}

.btn:hover{
    background-color: #a66df1;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
}


section.features{
    padding: 2rem 0;
    background-color: #f8f7fc;
}

section.features .features-section{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-section h4{
    color: #6e0aef;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}


.features-section .qualities{
    display: flex;
    justify-content: space-between;
}

.features-section .qualities .quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    max-width: 17rem;
    border-radius: 1rem;
    margin: 1rem;
}

.features-section .qualities .quality:hover{
    border: 2px solid #6e0aef;
}

.qualities .quality i {
    font-size: 2rem;
    color: #6e0aef;
    margin-bottom: 1rem;
}

.qualities .quality h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.qualities .quality p {
    font-size: 1.2rem;
    text-align: center;
    color: #4e547e;
}

.newest-phones{
    padding-top: 5rem;
}

.newest-phones .phones-section{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
}

.phones-section h4{
    color: #6e0aef;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.phones-section .phones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
}


.phones .phone{
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone img{
    margin-bottom: 1rem;
}

.phone img:hover{
    scale: 1.1;
}

.phone h3{
    font-size: 1.6rem;
}

.phones-section button {
    width: 15rem;
    margin-bottom: 1rem;
    align-self: center;
}


footer{
    background-color: #f8f7fc;
    height: 15vh;
    margin-top: 5rem;
    padding: 2rem 0;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
}

.footer-section p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section .socials{
    margin-bottom: 1rem;
}

.footer-section img{
    padding: 0 0.5rem;
    font-size: 1.6rem;
}

.footer-section .socials img:hover{
    scale: 1.1;
    cursor: pointer;
}


@media (max-width:1300px){
    *{
        font-size: 85%;
    }
}

@media (max-width:1170px){
    *{
        font-size: 80%;
    }
}

@media (max-width:1000px){
    *{
        text-align: center;
    }

    .hero img{
        display: none;
    }

    .hero-section{
        align-items: center;
        padding: 2rem 0;
        width: 50%;
    }
    
    .hero .btn{
        align-self: center;
    }

    .features-section .qualities{
        flex-wrap: wrap;
        justify-content:center;
    }
       
    section.features .features-section{
        align-items: center;
    }

    .hero-section{
        height: 70vh;
    }
}

@media (max-width:660px){
    .hero-section .content h1{
        font-size: 2rem;
    }

    .phones-section{
        align-items: center;
    }

    .phones-section .phones{
        grid-template-columns: 1fr 1fr;
    }



}

@media (max-width:550px){
    .phones-section .phones {
        grid-template-columns: 1fr;
    }
}